body {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    color: rgb(137, 43, 226);
}

.pic {
    background-image: url(byron/bears.jpeg);
}

@media (max-width: 576px) {
    h1 {
        color:rgb(33, 27, 204);
    }
    body {
        background:rgb(137, 43, 226)
    }
}
a {
    color: white;


}

div {
    text-align: center;
}