body {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    color: rgb(137, 43, 226);
}

.pic {
    background-position: center;
    height: 430px;

}

@media (max-width: 576px) {
    h1 {
        color:rgb(33, 27, 204);
    }
    .pic {
        height:300
        
    }
}
a {
    color: white;

}

div {
    text-align: center;

}